html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    max-width: 100%;
}

/*********************My styles
*/
body{
    font-size: 1em;
    font-family: 'Fjalla One', sans-serif;
}

#game{
    text-align: center;
    padding: 1em;
}
h1{
    padding: 1em 0.5em 0 0.5em;
    font-size: 2em;
}

.form{
    width: 100%;
    margin: 1em;
}

.form input[type="number"]{
    margin: 0.25em 0;
    padding: 0.25em;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #bbbbbb;
    border-radius: 4px;
}

.form input[type="number"]:focus{
    outline: none
}

.form input[type="submit"]{
    padding: 0.5em 1em;
}

table{
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: separate;

}
table td{
    width: 48px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ffffff;
    background: #dddddd;
    vertical-align: middle;
    border-radius: 5px;
    color: #000;
    font-size: 1.25em;
    font-weight:  bold;

}

.hidden{
    background: #aaaaaa;
    font-size: 0;
}

.bomb{
    background: #f03131 url("images/mine.png") no-repeat center;
}

.mine-cell{
    background: #f03131 url("images/plus.png") no-repeat center;
}

.smile{
    background: #f03131 url("images/smile.png") no-repeat center;
}

.empty{
    background: #a8d324;
}

.flag{
    background: #ffc641 url("images/flag.png") no-repeat center;
    font-size: 0;
}

.space{
    background: #d9edf7;
}

.message{
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.error{
    color: #ff1122;
}
.success{
    color: #2dbe60;
}
