html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    max-width: 100%;
}

/*********************My styles
*/
body{
    font-size: 1em;
    font-family: 'Fjalla One', sans-serif;
}

#game{
    text-align: center;
    padding: 1em;
    position: relative;
    z-index: 2;
}

.form{
    width: 320px;
    margin: 0 auto;
}

.form input[type="number"]{
    width: 155px;
    margin: 1.25em 0;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #bbbbbb;
    border-radius: 4px;
    color: #555;
    text-indent: 4px;
    font-size: 14px;
}

.form input[type="number"]:focus, .form button{
    outline: none;
}

.form button{
    border-radius: 4px;
    background: #33b5e5;
    color: #ffffff;
    border: 0;
    padding: 1em;
    cursor: pointer;
    width: 312px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
}

.board{
    width: 310px;
    margin: 24px auto 0;
    border: 2px solid #dddddd;
    padding: 1em 0;
    border-radius: 4px;
    position: relative;
    left: -4px;
}

.board .left-side, .board .center-side, .board .right-side{
    display: inline-block;
    width: 88px;
    padding-left: 12px;
}

table{
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: separate;

}
table td{
    width: 48px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ffffff;
    background: #dddddd;
    vertical-align: middle;
    border-radius: 5px;
    color: #000;
    font-size: 1.25em;
    font-weight:  bold;

}

.hidden{
    background: #aaaaaa;
    font-size: 0;
}

.bomb{
    background: #f03131 url("images/mine.png") no-repeat center;
}

.mine-cell{
    background: #f03131 url("images/plus.png") no-repeat center;
}

.smile{
    background: #f03131 url("images/smile.png") no-repeat center;
}

.empty{
    background: #a8d324;
}

.flag{
    background: #ffc641 url("images/flag.png") no-repeat center;
    font-size: 0;
}

.space{
    background: #d9edf7;
}

.message{
    position: absolute;
    color: #ffffff;
    left: 50%;
    top: 50%;
    /*margin-left: 50%;*/
    /*margin-top: 50%;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.error{
    color: #ff1122;
}
.success{
    color: #2dbe60;
}

